.about p {
    background-color: white;
    color: black;
    padding: 15px;
    font-size: 1.8rem;
    border: 3px solid blueviolet;
    border-radius: 10px;
}

// DESCKTOP
// .about {
//     margin: 2px;
// }