/* ### HEADER ### */

.personal-info {
    display: flex;
    justify-content: space-around;
}
.personal-info .about {
    margin: 2px;
}
.personal-info .contact {
    display: block;
    background-color: orange;
    margin: 2px;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.8rem;
}
.personal-info .contact div {
    margin: 1px;
    display: flex;
}
.personal-info .contact button {
    background-color: blueviolet;
    font-size: 1.9rem;
    padding: 5px;
    border: 2px solid;
    border-radius: 8px;
}
.personal-info .contact button a {
    color: black;
    text-decoration: none;
}
.personal-info .contact button:hover {
    cursor: pointer;
    background-color: orange;
}
.personal-info .contact .contact__a a {
    background-color: orange;
    text-decoration: none;
    color: black;
    padding: 5px;
    border: 2px solid;
    border-radius: 8px;
}
.personal-info .contact .contact__a a:hover {
    cursor: pointer;
    background-color: blueviolet;
}
.personal-info .contact img {
    width: 15px;
}

/* MAIN */

/* # PROJECTS # */
.projects {
    display: flex;
    flex-direction: row;
}
.project-box {
    flex-basis: 10rem;
    flex-grow: 1;
}
.project-box__title {
    font-size: 2rem;
}
.project-box__content {
    display: block;
}
.project-box__content__img img {
    width: 15vw;
}
.project-box__content > div {
    display: flex;
    justify-content: space-evenly;
}
.project-box__content__tech {
    display: block;
}
.project-box__content__tech .tech-box li {
    list-style: none;
    background-color: orange;
    margin: 4px;
    padding: 2px;
    border: 1px solid;
    border-radius: 8px;
}

/* ### FOOTER ### */

/* # MOBILE # */
.mobile-footer {
    display: none;
}