* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    background-color: black;
    min-width: 270px;
}

/* ### HEADER ### */

header h1, h2, h3{
    color: white;
    margin: 10px;
}
.name {
    font-size: 4rem;
}
.username {
    display: none;
}
.profession {
    font-size: 3rem;
    color: blueviolet;
}
.tech-stack {
    font-size: 2rem;
}

.personal-info {
    padding: 8px;
}
.personal-info .about {
    background-color: blueviolet;
    color: white;
    padding: 15px;
    font-size: 1.8rem;
    border-radius: 10px;
}
.personal-info .contact {
    display: none;
}

/* ### MAIN ### */

/* # PROJECTS # */
.projects-title {
    font-size: 2.4rem;
}
.project-box {
    background-color: white;
    font-size: 1.6rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 4px;
    padding: 5px;
}
.project-box__title {
    color: black;
    padding: 5px;
}
.project-box__content {
    display: flex;
}
.project-box__content__img img {
    width: 25vw;
}
.project-box__content__tech {
    display: none;
}
.project-box__content__description {
    margin: auto 1px;
    padding: 2px;
    border-radius: 5px;
}
.project-box__content__description a {
    text-decoration: none;
    color: black;
    background-color: blueviolet;
    margin: 3px;
    padding: 3px;
    border: 1px solid;
    border-radius: 8px;
}
.project-box__content__description a:hover {
    background-color: orange;
    cursor: pointer;
}

/* ### FOOTER ### */

/* # MOBILE # */
.mobile-footer .contact {
    display: block;
    background-color: orange;
    margin: 2px;
    padding: 5px;
    font-size: 1.4rem;
}

.mobile-footer .contact div {
    display: inline-block;
    margin: 1px;
    padding: 5px;
    border: 2px solid;
    border-radius: 8px;
}
.mobile-footer .contact a {
    background-color: orange;
    text-decoration: none;
    color: black;
}
.mobile-footer .contact .contact__a a:hover {
    cursor: pointer;
}
.mobile-footer .contact button {
    background-color: blueviolet;
    font-size: 1.8rem;
    padding: 5px;
    border: 2px solid;
    border-radius: 8px;
}
.mobile-footer .contact button a {
    color: black;
    text-decoration: none;
}
.mobile-footer .contact button:hover {
    cursor: pointer;
    background-color: orange;
}
.mobile-footer .contact img {
    width: 12px;
}